html {
  box-sizing: border-box;
}


body {
    background-color: var(--background-3);
    color: var(--foreground-2);
    /* overflow: auto; */
    overflow: hidden;
    max-width: 100vw;
    width: 100vw;
    height: 100vh;
    resize: none;
    margin: 0px;
    word-wrap: break-word;
    font-family: sans-serif;
    line-height: 1.15;
    /* Stolen from the site */
    --foreground-1: #fff;
    --foreground-2: #dcddde;
    --foreground-3: #b9bbbe;
    --foreground-effect-1: #72767d;
    --foreground-effect-2: #4f545c;
    --background-1: #36393f;
    --background-2: #2f3136;
    --background-3: #202225;
    --background-effect-1: #40444b;
    --background-effect-2: #292b2f;
    --muted-channels: #4f545c;
    --dividers: #292b2f;

    --debug-1: red;
    --debug-2: green;
    --debug-3: white;

    --channel-focussed: blue;
    --focussed: #fff;
    --hover: grey;
    --alert: red;

    --smallText: 14px;

    --icon-size: 32px;

    --searchbackground: #2f313680;
}

img {
    pointer-events: none;
}

@media only screen and (max-height: 2000px){
    body {
        font-size: 20px;
    }
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--background-1);
    border: 3px solid var(--background-3);
    scrollbar-base-color: red;
}

::-webkit-scrollbar-thumb {
    /* color: red; */
    /* border-width: thin; */
    -webkit-border-radius: 15px;
    background-size: 50%;
    background-color: var(--foreground-3);
}

::-webkit-scrollbar-thumb :active {
    width: 15px;
    color: red;
}

a[href*="//"] {
  &:after {
    content: '';
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/6a/External_link_font_awesome.svg');
  }
}

@keyframes testanim {
    0%   {transform: scale(20%);}
    100% {transform: scale(80%);}
}

@keyframes loading {
    0%  {
      transform: rotate3d(1,1,1,0deg);
    }
    100%{
      /* color: */
      transform: rotate3d(1,2,1,180deg);
    }
}



/* body > h1{
    color: red;
} */

.hidden {display:none;}

.grid-container {
    display: grid;
}

.grid-container > * {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1;
}

.loading {
    position: absolute;
    border-color: var(--dividers);
    width: 100vw;
    /* height: 100vh; */
    image-resolution: snap;
    background-color: var(--background-1);
    text-align: center;
    z-index: 99;
}



.login {
    /* display: table-cell; */ /*need something else to show the entire thing in the center*/
    /* display: block; */
    position: absolute;
    border-color: var(--dividers);
    width: 100vw;
    height: 100vh;
    background-color: var(--background-1);
    text-align: center;
    z-index: 98;
}

/* .login > * > *{
    position: relative;
} */

.login > .grid-container {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    /* align-content: center;
    grid-gap: 3px;
    align-items: center;
    text-align: center; */
}

#token {
    justify-items: left;
    display: block;
    width: 60%;
    height: 4%;
    max-width: 60%;
    border-color: var(--background-effect-1);
}

#token:focus {
    border-color: red;
}



nav {
    background-color: var(--background-2);
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}

.dropdown {
    display: flex;
    z-index: 97;
    align-items: stretch;
}

.dropdown>* {
    width: 100%;
}

.dropdown > .menu {
    display: none;
    position: absolute;
    transform: translate(0px, 100%);
    align-items: stretch;
    background: black;
    align-items: stretch;
}

.dropdown:hover > .menu {
    display: flex;
    flex-direction: column;
}

.dropdown:not(:hover) > .menu {
    display: none;
}

.menu > .dropdown > .menu {
    transform: translate(-100%, 0%);
}
.action > .menu {
    transform: translate(-100%, 0%);
}


.main {
    background-color: var(--background-3);
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    /* overflow-x: hidden; */
}

.main > {
    height: 100vh;
}

.grid-container {
    display: flex;
    align-items: stretch;
    height: calc(100% - 32px);
    /* grid-template-columns: 15% auto;
    grid-template-rows: auto;
    grid-gap: 3px;
    align-items: center;
    text-align: center; */
}



/* DEBUG: From here on out it's chat styling */

.guilds {
    display: flex;
    width: 90%;
    height: 100%;
    background-color: var(--background-3);
    max-width: 150px;
    min-width: 50px;
    align-items: stretch;
    overflow-y: auto;
    overflow-x: hidden;
}

.server {
    display: flex;
    color: var(--foreground-1);
    /* height: 50px; */
    max-width: 150px;
    min-width: 120px;
    align-items: center;
    /* border: 5px; */
    /* background-image: url("./default.png");
    background-size: cover;
    background-repeat: no-repeat; */
}

.server > * {
    /* display: block; */
    display: relative;
    top: 0px;
    color: var(--foreground-2);
}

.server > img {
    /* display: block; */
    display: inline-block;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    transition: all 0.1s;
}

.server.focussed>img, .server:hover>img {
    border-radius: 25%;
}


.channels {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: clip;
    min-width: 200px;
    max-width: 260px;
    flex-grow: 1;
    flex-shrink: 0;
    /* width: auto;
    min-width: auto;
    max-width: 20vw; */
    scroll-behavior: auto;
    cursor: context-menu;
    /* overflow-x: auto;
    overflow-y: scroll; */
}

.channel {
    display: block;
    font-size: var(--smallText);
    color: var(--foreground-2);
    background-color: var(--background-1);
}

.channel:not(.category) {
    padding-left: 15px;
}

.channel:hover {
  color: var(--hover);
}

.category > svg {
    transition: transform 0.5s;
}

.collapsed > svg {
    transform: rotate(-90deg);
}

.collapsed > .children {
    display: none;
}


.users {
    /* min-width: 140px; */
    display: flex;
    overflow-y: auto;
    overflow-x: clip;
    flex-wrap: nowrap;
    flex-grow: 0;
    flex-shrink: 0;
}

.user {
    width: inherit;
    display: flex;
    flex-direction: row;
    width: 200px;
    flex-wrap: nowrap;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 15px;
    border-width: 1px;
    border-color: var(--foreground-3);
    border-style: dotted;
    text-align: left;
    align-items: center;
    word-wrap: break-word;
    word-break: break-all;
}

.user > img {
    display: block;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    width: var(--icon-size);
    height: var(--icon-size);
}

.inline {
    display: inline-flex;
    /* align-items: center; */
    /* margin: 5px; */
    /* border: 1px solid var(--foreground-3); */
}

.inline > img {
    display: block;
    flex-grow: 0;
}

.online > img {
    border-color: green;
}
.idle > img {
    border-color: yellow;
}
.dnd > img {
    border-color: red;
}
.offline > img {
    border-color: grey;
}





.chat {
    align-self: stretch;
    display: flex;
    align-items: stretch;
    /* max-width: 80%; */
    /* background-color: var(--background-3); */
    flex-grow: 3;
    flex-shrink: 5;
    flex-direction: column;
    overflow-x: hidden;
}

.chat > div > * {
    display: flex;
    align-self: stretch;
    flex-direction: column;
    /* flex-grow: 1; */
    flex-shrink: 1;
}

.channel-title {
    max-height: 10vh;
    font-size: 40px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.history {
    flex-direction: column-reverse;
    align-self: stretch;
    overflow-y: auto;
    flex-grow: 10;
    word-break: break-all;
}

.message {
    /* border: 2px solid var(--foreground-2); */
    /* margin: 5px; */
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    border-radius: 10px;
    border-width: 0px;
    /* border-top: 5px; */
    border-style: solid;
    /* border-color: var(--dividers); */
    width: 100%;
    height: auto;
    background-color: var(--background-2);
    color: var(--foreground-1);
}

.chat > .date {
    color: grey;
    /* background-color: red; */
}


.input {
    position: relative;
    left: inherit;
    width: inherit;
    max-height: 150px;
    border: black solid 2px;
    /* align-items: flex-end; */ /*moves button, don't use, doesn't work*/
    /* position: ; */
}

.input > button {
    max-width: 50px;
}

textarea {
    resize: none;
    width: auto;
    overflow-y: auto;
}

*:not(:hover) > .searchbox[value=''] {
    display: none;
}

.searchbox {
    /* position: absolute; */
    display: inline-flex;
    position: relative;
    flex-shrink: 1;
    min-height: 30px;
    background-color: var(--searchbackground);
}

@keyframes appear{
  99%  {display:none}
  0%   {display:none}
  100% {display:inherit}
}

.tooltip {
    display: none;
    position: absolute;
    opacity: 0;
    background-color: grey;
}

:hover>.tooltip {
    display: block;
    opacity: 100;
    transition: opacity 1s ease-in 1s;
    /* animation: appear 1s once; */
}

.info.user {
    /* position: absolute; */
    display: inline-block;
}



.context {
    position: absolute;
    width: 10vw;
    z-index: 99;
}

.contextkey {
    background-image: repeating-linear-gradient(lightgrey, grey);
}

.key {
    position: relative;
    color: inherit;
    /* width: auto; */
    height: auto;
    max-height: 5vh;
    max-width: 30vw;
    /* margin: 1%; */
    background-color: var(--background-1);
    box-shadow: 0 0 2px 2px black;
    /* animation: loading 5s linear both infinite; */
}
.key:hover {
    background-color: var(--foreground-effect-1);
    box-shadow: 0 0 4px 4px black;
    /* animation: loading 5s linear all; */
}

.key:active {
    border-color: inherit;
    background-color: var(--foreground-effect-2);
}

.key:focus {
    border-color: var(--foreground-effect-1);
}

/* body > * > * > * :hover {
    background-color: var(--background-effect-1);
} */

.focussed {
    /* border-color: red; */
    /* margin: 5px; */
    /* border-width: 3px; */
    /* border-style: solid; */
    background-color: var(--background-effect-1);
    color: var(--focussed);
}


.embedVideo > div {
    width: auto;
    /* height: 0px; */
    padding-top: 56.25%; /*for a 16/9 ratio*/
    max-width: 750px;
}

.embedVideo > iframe {
    position: absolute;
    /* top: -100%; */
    left: 0px;
    width: inherit;
    height: inherit;
    overflow: hidden;
}

@keyframes alertAnimation {
    0%   {background-color: inherit;}
    70%  {background-color: var(--alert);}
}


.alert {
    /* color: var(--focussed);
    background-color: var(--focussed); */
    /* transition: all 2s repeat infinite; */
    /* color: red; */
    /* background-color: red; */
    animation: alertAnimation 1.5s infinite;
}

.warning {
    position: absolute;
    display: flex;
    flex-direction: column;
    /* left: 20%; */
    width: 60%;
    z-index: 99;
}
