em {
    display: inline;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.white {
    color: white;
}

.black {
    color: black;
}

.center {
    text-align: center;
}
